@model eEvento.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar";
}

<div class="container-fluid d-flex align-items-center justify-content-center">
    <main class="card shadow-lg p-4" style="width: 100%; max-width: 600px; border-radius: 10px;">
        <div class="card-body">
            <h2 class="text-primary mb-3" id="title">Gerenciar Conta</h2>
            <p class="text-success">@ViewBag.StatusMessage</p>

            <h4>Alterar as configurações de conta</h4>
            <hr />

            <dl class="row">
                <dd class="col-sm-8">
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Alterar sua senha", "ChangePassword", null, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Criar Senha", "SetPassword", null, new { @class = "btn btn-primary" })
                    }
                </dd>

                
                <dd class="col-sm-8">
                  
                    @Html.ActionLink("Gerenciar Login Externo", "ManageLogins", null, new { @class = "btn btn-primary" })
                </dd>
            </dl>
        </div>
    </main>
</div>
